.clock {
    border-radius: 40%;
    background: #b9c8d6 url(../images/clock-vector-svg.png) no-repeat center;
    background-size: 104%;
    height: 10em;
    padding-bottom: 38%;
    position: relative;
    width: 20em;
}
.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 31%;
    transform-origin: 50% 100%;
    width: 2.5%;
}
.minutes {
    background: #5a6b26;
    height: 26%;
    left: 49%;
    position: absolute;
    top: 25%;
    transform-origin: 50% 100%;
    width: 2%;
}
.seconds {
    background: #b60707;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
/*.hours-container {*/
    /*animation: rotate 43200s infinite linear;*/
/*}*/
/*.minutes-container {*/
    /*animation: rotate 3600s infinite steps(60);*/
    /*-webkit-animation: rotate 3600s infinite steps(60);*/
/*}*/
/*.seconds-container {*/
    /*animation: rotate 60s infinite steps(60);*/
    /*-webkit-animation: rotate 60s infinite steps(60);*/
/*}*/
.hours-container {
    animation: rotate 43200s infinite linear;
}
.minutes-container {
    animation: rotate 3600s infinite linear;
}
.seconds-container {
    animation: rotate 60s infinite linear;
}