<div id="youtubechannel-player">
	<iframe id="youtubechannel-frame" title="Youtube Video Player" width="300px" height="250px;" src="" frameborder="0" allowfullscreen></iframe>
</div>
<div class="class-overflow">
<div id="youtubechannel-list">
	<ul>
    {% for id in youtubes.content|keys %}
			<li>
        <a href="#{{id}}">
          <img src="{{youtubes.content[id]}}">
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
</div>

